@media(max-width:580px) {
    .authorization-page {
        grid-template-rows: 10% 1fr;
        &__title {
            text-align: center;
            font-size: 18px;
            line-height: 28px;
        }
    }
}