@use '../../styles/base/mixins' as *;

.header {
    background: #FFFFFF;
    padding: 26px 0 15px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    &__user {
        display: flex;
        align-items: center;
        h3 {
            @include fz14(null, $main-text-color,18px);
            letter-spacing: 0.1px;
            margin-right: 10px;
            font-weight: 600;
        }
    }     
    &__title {
        margin-right: 318px;  
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.1px;
        color: #363636 ;
        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.1px;
            color: #363636
        }
    } 
    &__hamburger {
        display: none;
    }
}
   
            