@use '../base/mixins' as *;

.header {
    background: #FFFFFF;
    padding: 26px 0 15px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }    
    &__user {
        display: flex;
        align-items: center;
        h3 {
            @include fz14(0.1px, $main-text-color,18px);
            margin-right: 10px;
            font-weight: 600;
        }
    }     
    &__title {
        margin-right: 318px; 
        h1 {
            @include fz32();
        }
    } 
    &__hamburger {
        display: none;
    }
}
   
            